{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": [
    "node",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions":{
    "ecmaVersion": 2018
  },
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "comma-dangle": 0,
    "max-len": [
      "error",
      {
        "code": 200,
        "ignoreUrls": true
      }
    ],
    "no-plusplus": 0,
    "padded-blocks": 0,
    "space-before-function-paren": 0,
    "no-console": 0,
    "no-debugger": 1,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "printWidth": 100
      }
    ],
    "valid-jsdoc": [
      1,
      {
        "requireParamDescription": false,
        "requireReturnDescription": false,
        "requireReturn": false
      }
    ]
  }
}
