{
  "env": {
    "es2020": true,
    "jest": true,
    "node": true
  },
  "plugins": [
    "jest",
    "jsdoc",
    "node",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:jsdoc/recommended",
    "plugin:jest/recommended",
    "plugin:node/recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "__basedir": "readonly",
    "generateFixture": "readonly"
  },
  "parserOptions":{
    "ecmaVersion": 2020
  },
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "comma-dangle": 0,
    "jsdoc/check-tag-names": [
      2,
      {
        "definedTags": [
          "api",
          "apiDescription",
          "apiError",
          "apiErrorExample",
          "apiGroup",
          "apiHeader",
          "apiMock",
          "apiParam",
          "apiSuccess",
          "apiSuccessExample"
        ]
      }
    ],
    "jsdoc/no-undefined-types": [
      1,
      {
        "definedTypes": [
          "delete",
          "get",
          "html",
          "json",
          "patch",
          "post",
          "put",
          "RandomResponse"
        ]
      }
    ],
    "jsdoc/require-param-description": 0,
    "jsdoc/require-property-description": 0,
    "jsdoc/require-returns-description": 0,
    "max-len": [
      "error",
      {
        "code": 240,
        "ignoreUrls": true
      }
    ],
    "no-console": 0,
    "no-debugger": 1,
    "no-plusplus": 0,
    "node/no-unsupported-features/es-syntax": 1,
    "node/shebang": 0,
    "node/no-unpublished-bin": 0,
    "padded-blocks": 0,
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "avoid",
        "singleQuote": true,
        "trailingComma": "none",
        "printWidth": 100
      }
    ],
    "space-before-function-paren": 0,
    "valid-jsdoc": [
      1,
      {
        "requireParamDescription": false,
        "requireReturnDescription": false,
        "requireReturn": false
      }
    ]
  }
}
