{
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": [
    "node",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions":{
    "ecmaVersion": 2018
  },
  "rules": {
    "one-var": ["warn", { "var": "never", "let": "never", "const": "never" }],
    "no-var": 1,
    "comma-dangle": 1,
    "no-plusplus": 0,
    "prefer-const": 1,
    "padded-blocks": 0,
    "space-before-function-paren": 0,
    "prefer-arrow-callback": 0,
    "func-names": 0,
    "prefer-destructuring": 0,
    "no-undef": 0,
    "no-multi-spaces": 0,
    "no-console": 0,
    "no-debugger": 1,
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true,
        "printWidth": 100
      }
    ],
    "quotes": [0, "single"]
  }
}
