# dependencies
node_modules
.yarn-integrity

# coverage
lib-cov
coverage
.nyc*
*.lcov

# logs
dependency-update-log.txt
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
api-debug*

# misc
.env
.docs
.fixtures
